{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>login</h1>
        {{ erro }}
        <form method="post">
            {% csrf_token %}
            <input type="text" name="user" id="user" placeholder="usuário">
            <input type="password" name="password", id="password" placeholder="senha">
            <button>Entrar</button>
        </form>
    </body>
</html>